/* 다른 화면 버튼 스타일을 재사용하기 위해 friendlist.css import */
@import url("friendlist.css");


/* 바깥 하얀 카드(공통 규칙 재사용 가능) */
.content-card {
    -fx-background-color: white;
    -fx-background-radius: 28;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.10), 24, 0.0, 0, 6);
}

/* 왼쪽 아바타 프레임 */
.photo-frame {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-border-color: #2e2333;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

/* 폼 라벨 */
.form-label {
    -fx-font-size: 18px;
    -fx-font-weight: 800;
}
